{% extends 'base.html'%}
{% block title %}About Page{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <h1>About Graphly</h1>
        <p>Graphpy is a simple and powerful tool that allows you to generate visual graphs from CSV data files in just a few clicks. Whether you're a student, researcher, or data enthusiast, this tool helps you quickly visualize data with ease.</p>
        <h2>Features</h2>
        <ul>
            <li>
                <p>📊 Supports multiple graph types: Bar, Histogram, Scatter, and Heatmap</p>
            </li>
            <li>
                <p>🎨 Customize your graph with different colors</p>
            </li>
            <li>
                <p>🖼️ Download your graphs as PNG images</p>
            </li>
            <li>
                <p>🔄 Save and manage graphs</p>
            </li>
            <li>
                <p>🔗 Open-source: You can contribute or check the source code</p>
            </li>
        </ul>
        <h2>How it works?</h2>
        <p>In order to make a graph you will need a csv file with data in it. If you don't have it you can also one of the given sample data files.
        </p>
        <ol>
            <li>
                <p>Upload a csv file</p>
            </li>
            <li>
                <p>Pick a desired color for the graph</p>
            </li>
            <li>
                <p>Pick a graph type</p>
            </li>
            <li>
                <p>Click on the "Generate Graph" button</p>
            </li>
        </ol>
        <p>All of the graphs that you made will be saved in "My account page" where you can download them as a png file or delete them.</p>
        <p>Link to <a href="https://github.com/nrenars/Graphpy">Source code</a></p>
    </div>
</body>
{% endblock %}