{% extends 'base.html'%}
{% block title %}About Graphpy{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">All you need to know</p>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <p>Link to <a href="https://github.com/nrenars/Graphpy">Source code</a></p>
    </div>
</body>
{% endblock %}