{% extends 'base.html' %}
{% block title %}Graphpy Home Page{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Random Graph Generator</h1>
        </div>
    </div>
</header>
<div class="container d-flex justify-content-between">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/pokemon_graph.png') }}" class="img-thumbnail" alt="Pokemon graph" >
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/tv_graph.png') }}" class="img-thumbnail" alt="TV graph">
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/IHME_GBD_2010_MORTALITY_AGE_SPECIFIC_BY_COUNTRY_1970_2010.png') }}" class="img-thumbnail" alt="Jobs graph" >
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/pokemon_hist.png') }}" class="img-thumbnail" alt="Pokemnon hist">
    </div>
</div>
{% endblock %}