{% extends 'base.html' %}

{% block title %}Make A Graph{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Make a graph</h1>
        </div>
    </div>
</header>
<div class="list-group mb-3 mx-auto" style="width: fit-content;">
    <h2>Sample Data</h2>
    <a href="static/data/Pokemon.csv" class="list-group-item list-group-item-action">Pokemon.csv</a>
    <a href="static/data/TB_Burden_Country.csv" class="list-group-item list-group-item-action">TB_Burden_Country.csv</a>
    <a href="tatic/data/tvmarketing.csv" class="list-group-item list-group-item-action">tvmarketing.csv</a>
    <a href="static/data/customers-100.csv" class="list-group-item list-group-item-action">customers-100.csv</a>
    <a href="static/data/IHME_GBD_2010_MORTALITY_AGE_SPECIFIC_BY_COUNTRY_1970_2010.csv" class="list-group-item list-group-item-action">IHME_GBD_2010_MORTALITY_AGE_SPECIFIC_BY_COUNTRY_1970_2010.csv</a>
    <a href="static/data/organizations-100.csv" class="list-group-item list-group-item-action">organizations-100.csv</a>
    <a href="static/data/people-100.csv" class="list-group-item list-group-item-action">people-100.csv</a>
  </div>
<section class="base" id="base-signup">
    <div class="container">
        <div class="base-content">
            <div class="form">
                <hr class="first">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
    
                    <div class="data mb-3">
                        <label for="file_upload">Upload data</label>
                        {{ form.file_upload(class="form-control") }} <hr>
                        <hr>
                    </div>
                    <div class="color mb-3">
                        <label for="color">Color</label>
                        {{ form.color(class="form-control") }} <hr>
                        <hr>
                    </div>
                    <div class="type mb-3">
                        <label for="graph_type">Graph type</label>
                        {{ form.graph_type(class="form-control") }} <hr>
                        <hr>
                    </div>
                    <div>
                        {{ form.submit(class="buttons btn btn-dark") }} 
                    </div>
                </form>
                {% if user_graphs %}
                <hr>
                <h4>Your Generated Graphs:</h4>
                <div class="graphs">
                    {% for graph in user_graphs %}
                        <div class="graph">
                            <h5>{{ graph.title or 'Untitled' }}</h5>
                            <img src="{{ url_for('static', filename=graph.graph_image) }}" alt="{{ graph.title}}" width="600">
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
