{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
        </div>
    </div>
</header>
<section class="base" id="base-signup">
    <div class="container">
        <div class="base-content">
            <div class="form">
                <h3>
                    Create an account <br>
                </h3>
                
                <hr class="first">
                <form method="POST">
                    {{ form.hidden_tag() }}
    
                    <div class="email mb-3">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control") }} <hr>
                    </div>
                    <div class="password mb-3">
                        <label for="password1">Password</label>
                        {{ form.password1(class="form-control") }} <hr>
                    </div>
                    <div class="password mb-3">
                        <label for="password2">Confirm Password</label>
                        {{ form.password2(class="form-control") }} <hr>
                    </div>
    
                    <div class="buttons">
                        <a class="btn btn-outline-secondary" href="/login"> Login</a>
                        {{ form.submit(class="btn btn-dark") }}
                    </div>
    
    
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}